@model SerieWeb.Models.Serie

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2>Detalhes da Serie</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nome
            </dt>

            <dd>
                @Html.DisplayNameFor(model => model.NomeSerie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sinopse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sinopse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nota)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id = Model.SerieID }, new { @class = "badge badge-primary" }) |
        @Html.ActionLink("Voltar para lista de Séries", "Index", new object { }, new { @class = "badge badge-secondary" })
    </p>
</div>