@model IEnumerable<SerieWeb.Models.Admininstracao.Serie>

@{
    ViewBag.Title = "Lista de Séries";
    var MensagemSucesso = Session["MensagemSucesso"];

}

<div class="panel-header panel-header-sm">

</div>
<div class="container">
    <div class="content" style="padding: 0; min-height: calc(100vh - 123px); margin-top: -50px; margin-bottom:100px;">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-6"><h5 class="title">Lista de Séries</h5></div>
                            <div class="float-right" style="margin-right:18px">@Html.ActionLink("Adicionar", "Adicionar", new object { }, new { @class = "btn btn-primary" })</div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="SerieTable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NomeSerie)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Sinopse)
                                        </th>                                        
                                        <th> Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NomeSerie)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Sinopse)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Editar", new { id = item.SerieID }) |
                                                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.SerieID }) |
                                                @Html.ActionLink("Deletar", "Deletar", new { id = item.SerieID })

                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para Mensagem de sucesso -->

    <input type="hidden" value="@MensagemSucesso" id="MensagemSucesso" />

    <div id="MensagemSucesso" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content" style="background-color: #409843;">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                                <path id="successAnimationResult" fill="#D8D8D8" d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z" />
                                <circle id="successAnimationCircle" cx="35" cy="35" r="24" stroke="#979797" stroke-width="2" stroke-linecap="round" fill="transparent" />
                                <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2" points="23 34 34 43 47 27" fill="transparent" />
                            </svg>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <div>
                        <p class="text-white font-weight-bold text-center">@MensagemSucesso</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal para Mensagem de sucesso -->

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")

    <script>
        var MensagemSucesso = $('#MensagemSucesso').val();


        $(document).ready(function () {
            if (MensagemSucesso != "") {
                $('.bd-example-modal-sm').modal('show');

                setTimeout(function () {
                    $('.bd-example-modal-sm').modal('hide')
                }, 3500);
                @{
                    Session["MensagemSucesso"] = null;
                }
            }
        });


        $(document).ready(function () {
            $('#SerieTable').DataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "scrollX": true,
                "pagingType": "simple",
                "info": false,
                "scrollY": '50vh',
                "scrollCollapse": true
            });

        });
    </script>
}
