@model IEnumerable<SerieWeb.Models.Admininstracao.Serie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagemBanner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sinopse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagemBanner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sinopse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SerieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SerieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SerieID })
        </td>
    </tr>
}

</table>
