@model SerieWeb.Models.Admininstracao.Episodio

@{
    ViewBag.Title = "Editar";
}
<div class="panel-header panel-header-sm">

</div>
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="content" style="padding: 0; min-height: calc(100vh - 123px); margin-top: -50px; margin-bottom:100px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    <h5 class="title font-weight-bold">Editar Episódio</h5>
                                </div>
                                <div class="col-6">
                                    <span style="text-align:right; float:right; color:red;">* Obrigatório</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.EpisodioID)

                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label class="control-label col-md-8 font-weight-bold">Nome da Série <span style="color:red">*</span></label>
                                        <div class="col-md-12">
                                            @Html.DropDownList("SerieID", null, htmlAttributes: new { @class = "form-control", style = "padding: 5px 18px 5px 18px;" })
                                            @Html.ValidationMessageFor(model => model.SerieID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label class="control-label col-md-8 font-weight-bold">Nome da Temporada <span style="color:red">*</span></label>
                                        <div class="col-md-12">
                                            @Html.DropDownList("TemporadaID", null, htmlAttributes: new { @class = "form-control", style = "padding: 5px 18px 5px 18px;" })
                                            @Html.ValidationMessageFor(model => model.TemporadaID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 pr-1">
                                    <div class="form-group">
                                        <label class="control-label col-md-8 font-weight-bold">Nome do Episódio <span style="color:red">*</span></label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.NomeEpisodio, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NomeEpisodio, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">                                   
                                    <div class="form-group">
                                        <label class="control-label col-md-8 font-weight-bold">Número do Episodio <span style="color:red">*</span></label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.NumeroEpisodio, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NumeroEpisodio, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Sinopse, htmlAttributes: new { @class = "control-label font-weight-bold" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Sinopse, new { htmlAttributes = new { @class = "form-control", rows = "4", cols = "80" } })
                                            @Html.ValidationMessageFor(model => model.Sinopse, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 pr-1">
                                    <div class="form-group">
                                        <label class="control-label col-md-8 font-weight-bold">Video</label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label class="control-label col-md-8 font-weight-bold">Data de Exibição <span style="color:red">*</span></label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.DataExibicao, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DataExibicao, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="float-right" style="margin-right:25px">
                                    @Html.ActionLink("Voltar", "Index", new object { }, new { @class = "badge badge-secondary" })
                                    <input type="submit" value="Salvar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
