@model SerieWeb.Models.Identity.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<div class="container">
    @{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        if (loginProviders.Count() == 0)
        {
            <div>
                <p>
                    Não há serviços de autenticação externos configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artigo</a>
                    para obter detalhes sobre como configurar este aplicativo ASP.NET para dar suporte ao registro em log por meio de serviços externos.
                </p>
            </div>
        }
        else
        {
            using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>

                        @foreach (AuthenticationDescription p in loginProviders)
                        {
                            if (p.AuthenticationType == "Google")
                            {
                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Faça login usando sua conta @p.Caption">@p.AuthenticationType</button>

                            }
                            else if (p.AuthenticationType == "Facebook")
                            {

                                 <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Faça login usando sua conta @p.Caption"><img style="height:25px" src="~/Content/SVG/facepreto.svg" />@p.AuthenticationType</button>
                            }
                            else
                            {

                                 <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Faça login usando sua conta @p.Caption"><img style="height:25px" src="~/Content/SVG/ttpreto.svg" />@p.AuthenticationType</button>
                            }
                        }
                    </p>
                </div>
            }
        }
    }
</div>
