@model SerieWeb.Models.Identity.RegisterViewModel
@{
    ViewBag.Title = "Registre-se";
}
<div class="panel-header panel-header-sm">

</div>
<div class="container">
    <div class="content" style="padding: 0; min-height: calc(70vh - 123px); margin-top: -50px; margin-bottom:100px;">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="title" style="text-align:center">Resgistrar</h3>
                    </div>
                    <div class="card-body" style="text-align:center">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                           
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label font-weight-bold" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label font-weight-bold" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label font-weight-bold" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary" value="Registrar-se" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
