@model SerieWeb.Models.Admininstracao.Temporada

@{
    ViewBag.Title = "Editar";
}
<div class="panel-header panel-header-sm">

</div>
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="content" style="padding: 0; min-height: calc(100vh - 123px); margin-top: -50px; margin-bottom:100px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    <h5 class="title font-weight-bold">Editar Temporada</h5>
                                </div>
                                <div class="col-6">
                                    <span style="text-align:right; float:right; color:red;">* Obrigatório</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.TemporadaID)
                            <div class="row">
                                <div class="col-md-12 px-1">
                                    <div class="form-group">
                                        <label class="control-label col-md-8 font-weight-bold">Nome da Temporada <span style="color:red">*</span></label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.NomeTemporada, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NomeTemporada, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 px-1">
                                    <div class="form-group">
                                        <label class="control-label col-md-8 font-weight-bold">Número da Temporada *</label>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.NumeroTemporada, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NumeroTemporada, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="float-right" style="margin-right:25px">
                                    @Html.ActionLink("Voltar", "Index", new object { }, new { @class = "badge badge-secondary" })
                                    <input type="submit" value="Salvar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
