@model IEnumerable<SerieWeb.Models.Temporada>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Lista de Temporadas</h2>
    <hr />
    <p>
        @Html.ActionLink("Adicionar", "Adicionar")
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                Nome Serie
            </th>
            <th>
                Nome Temporada
            </th>
            <th>Opções</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie.NomeSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTemporada)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.TemporadaID }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.TemporadaID }) |
                    @Html.ActionLink("Deletar", "Deletar", new { id = item.TemporadaID })
                </td>
            </tr>
        }

    </table>
</div>
