@model IEnumerable<SerieWeb.Models.Admininstracao.Temporada>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeTemporada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeTemporada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TemporadaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TemporadaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TemporadaID })
        </td>
    </tr>
}

</table>
