@model List<SerieWeb.Models.Admininstracao.SeriesServicos>
@{
    ViewBag.Title = "Serviços de Streaming";

    var ListaAgrupada = (List<IGrouping<SerieWeb.Models.Admininstracao.ServicoStreaming, SerieWeb.Models.Admininstracao.SeriesServicos>>)ViewBag.ListaAgrupada;

    var HBOGO = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.HBOGO;
    var NETFLIX = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.NETFLIX;
    var PRIMEVIDEO = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.PRIMEVIDEO;
    var FOXPLAY = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.FOXPLAY;

    var MelhorServico = (SerieWeb.Models.Admininstracao.ServicoStreaming)ViewBag.MelhorServico;

    float totalservicos = HBOGO.Count() + PRIMEVIDEO.Count() + NETFLIX.Count() + FOXPLAY.Count();

    
    float porcetagemNETFLIX = (NETFLIX.Count() / totalservicos) * 100;
    float porcetagemPrimeVideo = (PRIMEVIDEO.Count() / totalservicos) * 100;
    float porcetagemFoxPlay = (FOXPLAY.Count() / totalservicos) * 100;
}
<div class="panel-header panel-header-sm">

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom:4px solid #e4e4e4;">
    <div class="container" style="margin-top:0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Favoritos", "Index", "Perfil", new { area = "" }, new { id = "Favorito", @class = "nav-link perfil-menu" })
                </li>
               
                <li class="nav-item">
                    @Html.ActionLink("Serviços Streaming", "Servico", "Perfil", new { area = "" }, new { id = "Servico", @class = "nav-link perfil-menu" })
                </li>
                <li>
                    @Html.ActionLink("Configurações", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link perfil-menu" })
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <h4 style="margin-bottom: 40px;">Melhores Serviços</h4>
    <div class="row">
        @foreach (var item in ListaAgrupada)
        {
        <div class="box">

            <h2 class="font-weight-bold text-uppercase" style="margin-bottom: 20px;">@item.Select(s => s.ServicoStreaming).FirstOrDefault().NomeServicoStreaming</h2>
            <ul style="list-style-type:none; padding:0; margin-bottom:30px;">
                <li style="margin-bottom:30px;">
                    <p class="text text-center">Você possui @item.Select(s => s.ServicoStreaming.ServicoStreamingID).Count() séries nos favoritos</p>
                </li>

                <li style="margin-bottom:30px;">
                    <div class="progress" style="height: 20px;">
                         @{
                             float porcetagem = (item.Select(s => s.ServicoStreaming.ServicoStreamingID).Count() / totalservicos) * 100;
                         }

                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:@String.Format("{0}", porcetagem)%" aria-valuenow="@String.Format("{0}", porcetagem)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagem)%</div>
                    </div>
                </li>

            </ul>

            <h2 class="text text-center">R$ @item.Select(s => s.ServicoStreaming).FirstOrDefault().Preco </h2>
        </div>
}

    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $("#Servico").addClass('perfil-menu-active');
        });

    </script>
}
