@model List<SerieWeb.Models.Admininstracao.SeriesServicos>
@{
    ViewBag.Title = "Serviços de Streaming";
    var HBO = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.HBO;
    var NETFLIX = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.NETFLIX;
    var PRIMEVIDEO = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.PRIMEVIDEO;
    var SONY = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.SONY;
    var FOXPLAY = (List<SerieWeb.Models.Admininstracao.SeriesServicos>)ViewBag.FOXPLAY;

    var MelhorServico = (SerieWeb.Models.Admininstracao.ServicoStreaming)ViewBag.MelhorServico;

    float totalservicos = HBO.Count() + PRIMEVIDEO.Count() + NETFLIX.Count() + SONY.Count() + FOXPLAY.Count();

    float porcetagemHBO = (HBO.Count() / totalservicos) * 100;
    float porcetagemNETFLIX = (NETFLIX.Count() / totalservicos) * 100;
    float porcetagemPrimeVideo = (PRIMEVIDEO.Count() / totalservicos) * 100;
    float porcetagemSony = (SONY.Count() / totalservicos) * 100;
    float porcetagemFoxPlay = (FOXPLAY.Count() / totalservicos) * 100;
}
<div class="panel-header panel-header-sm">

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom:4px solid #e4e4e4;">
    <div class="container" style="margin-top:0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Favoritos", "Index", "Perfil", new { area = "" }, new { id = "Favorito", @class = "nav-link perfil-menu" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Recomendações", "Recomendado", "Perfil", new { area = "" }, new { id = "Recomendado", @class = "nav-link perfil-menu" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Serviços Streaming", "Servico", "Perfil", new { area = "" }, new { id = "Servico", @class = "nav-link perfil-menu" })
                </li>
                <li>
                    @Html.ActionLink("Configurações", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link perfil-menu" })
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <h4 style="margin-bottom: 40px;">Melhores Serviços</h4>
    <div class="row">
        @if (NETFLIX != null)
        {
            foreach (var item in NETFLIX)
            {
                <div class="box">
                    
                    <h2 class="font-weight-bold text-uppercase" style="margin-bottom: 20px;">@item.ServicoStreaming.NomeServicoStreaming</h2>
                    <ul style="list-style-type:none; padding:0; margin-bottom:30px;">
                        <li style="margin-bottom:30px;">
                            <p class="text text-center">Você possui @NETFLIX.Count() séries nos favoritos</p>
                        </li>

                        <li style="margin-bottom:30px;">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:@String.Format("{0}", porcetagemNETFLIX)%" aria-valuenow="@String.Format("{0}", porcetagemNETFLIX)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagemNETFLIX)%</div>
                            </div>
                        </li>

                    </ul>

                    <h2 class="text text-center">R$ @item.ServicoStreaming.Preco</h2>
                </div>
            }
        }
        @if (PRIMEVIDEO != null)
        {
            foreach (var item in PRIMEVIDEO)
            {


                <div class="box">
                    <h2 class="font-weight-bold text-uppercase" style="margin-bottom: 20px;">@item.ServicoStreaming.NomeServicoStreaming</h2>
                    <ul style="list-style-type:none; padding:0; margin-bottom:30px;">
                        <li style="margin-bottom:30px;">
                            <p class="text text-center">Você possui @PRIMEVIDEO.Count() séries nos favoritos</p>
                        </li>

                        <li style="margin-bottom:30px;">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:@String.Format("{0}", porcetagemPrimeVideo)%" aria-valuenow="@String.Format("{0}", porcetagemPrimeVideo)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagemPrimeVideo)%</div>
                            </div>
                        </li>

                    </ul>

                    <h2 class="text text-center">R$ @item.ServicoStreaming.Preco</h2>
                </div>
            }
        }
        @if (FOXPLAY != null)
        {
            foreach (var item in FOXPLAY)
            {
                <div class="box">
                    
                    <h2 class="font-weight-bold text-uppercase" style="margin-bottom: 20px;">@item.ServicoStreaming.NomeServicoStreaming</h2>
                    <ul style="list-style-type:none; padding:0; margin-bottom:30px;">
                        <li style="margin-bottom:30px;">
                            <p class="text text-center">Você possui @FOXPLAY.Count() séries nos favoritos</p>
                        </li>

                        <li style="margin-bottom:30px;">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:@String.Format("{0}", porcetagemFoxPlay)%" aria-valuenow="@String.Format("{0}", porcetagemFoxPlay)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagemFoxPlay)%</div>
                            </div>
                        </li>

                    </ul>

                    <h2 class="text text-center">R$ @item.ServicoStreaming.Preco</h2>
                </div>
            }
        }
        @if (SONY != null)
        {
            foreach (var item in SONY)
            {
                <div class="box">
                    
                    <h2 class="font-weight-bold text-uppercase" style="margin-bottom: 20px;">@item.ServicoStreaming.NomeServicoStreaming</h2>
                    <ul style="list-style-type:none; padding:0; margin-bottom:30px;">
                        <li style="margin-bottom:30px;">
                            <p class="text text-center">Você possui @SONY.Count() séries nos favoritos</p>
                        </li>

                        <li style="margin-bottom:30px;">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:@String.Format("{0}", porcetagemSony)%" aria-valuenow="@String.Format("{0}", porcetagemSony)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagemSony)%</div>
                            </div>
                        </li>

                    </ul>

                    <h2 class="text text-center">R$ @item.ServicoStreaming.Preco</h2>
                </div>
            }
        }
        @if (HBO != null)
        {
            foreach (var item in HBO)
            {
                <div class="box">
                   
                    <h2 class="font-weight-bold text-uppercase" style="margin-bottom: 20px;">@item.ServicoStreaming.NomeServicoStreaming</h2>
                    <ul style="list-style-type:none; padding:0; margin-bottom:30px;">
                        <li style="margin-bottom:30px;">
                            <p class="text text-center">Você possui @HBO.Count() séries nos favoritos</p>
                        </li>

                        <li style="margin-bottom:30px;">
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:@String.Format("{0}", porcetagemHBO)%" aria-valuenow="@String.Format("{0}", porcetagemHBO)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagemHBO)%</div>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text text-center">R$ @item.ServicoStreaming.Preco</h2>
                </div>
            }
        }
    </div>
</div>
@*<div class="box">
        <h2>HBO Now</h2>
        <ul>
            <li>4k, FullHD and HD resolutions</li>
            <li>More than 250 movies</li>
            <li>Original content</li>
            <li>Discounts on credit card</li>
        </ul>

        <h1>US$ 25,00</h1>
    </div>

    <div class="box">
        <h2>Mubi</h2>
        <ul>
            <li>4k, FullHD and HD resolutions</li>
            <li>More than 2000 movies</li>
            <li>The better selection</li>
            <li>Discounts on credit card</li>
        </ul>

        <h3>US$ 10,00</h3>
    </div>
    <div class="box">
        <h2>Mubi</h2>
        <ul>
            <li>4k, FullHD and HD resolutions</li>
            <li>More than 2000 movies</li>
            <li>The better selection</li>
            <li>Discounts on credit card</li>
        </ul>

        <h3>US$ 10,00</h3>
    </div>
    <div class="box">
        <h2>Mubi</h2>
        <ul>
            <li>4k, FullHD and HD resolutions</li>
            <li>More than 2000 movies</li>
            <li>The better selection</li>
            <li>Discounts on credit card</li>
        </ul>

        <h3>US$ 10,00</h3>
    </div>*@
@*</div>*@
@*<div class="row" style="margin-bottom:10px">
        <div class="col-12">
            <p class="font-weight-normal"> HBO</p>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width:@String.Format("{0}", porcetagemHBO)%" aria-valuenow="@String.Format("{0}", porcetagemHBO)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagemHBO) %</div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px">
        <div class="col-12">
            <p class="font-weight-normal"> Netflix</p>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:@String.Format("{0}", porcetagemNETFLIX)%" aria-valuenow="@String.Format("{0}", porcetagemNETFLIX)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagemNETFLIX)%</div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px">
        <div class="col-12">
            <p class="font-weight-normal"> Amazon Prime</p>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width:@String.Format("{0}", porcetagemAMAZON)%" aria-valuenow="@String.Format("{0}", porcetagemAMAZON)" aria-valuemin="0" aria-valuemax="100">@String.Format("{0}", porcetagemAMAZON)%</div>
            </div>
        </div>
    </div>*@




@section Scripts {
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $("#Servico").addClass('perfil-menu-active');
        });

    </script>
}
