@model  SerieWeb.Models.Admininstracao.Serie
@{
    ViewBag.Title = "Detalhes da Serie";

    var Indicacoes = (List<SerieWeb.Models.Admininstracao.Serie>)ViewBag.Indicacoes;
    var Episodios = (List<SerieWeb.Models.Admininstracao.Episodio>)ViewBag.Episodios;
    var Temporadas = (IEnumerable<SerieWeb.Models.Admininstracao.Temporada>)ViewBag.listatemporada;
    var Generos = (List<SerieWeb.Models.Admininstracao.Genero>)ViewBag.listagenero;
    var Servicos = (List<SerieWeb.Models.Admininstracao.ServicoStreaming>)ViewBag.listaservico;
    var MensagemSucesso = ViewBag.Msg != null ? ViewBag.Msg : "";
    var TrailerCompartilhar = ViewBag.TrailerCompartilhar;
}



<div id="Desktop">
    <div class="container-fluid DetalhesSerie" id="toTop">
        <div class="containerDetalhesSerie container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 containerImagemdetalhes">
                    <img src="@Model.Imagem" class="img-seriedetalhes img-responsive rounded mx-auto d-block" alt="Responsive image">
                </div>
                <div class="col-8 containerInfoDetalhes">
                    <div>
                        <h1 class="text-white font-weight-bold">@Model.NomeSerie</h1>

                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <p class="text-white font-weight-bold">Gêneros: </p>
                                </div>
                                <div class="row">
                                    @foreach (var item in Generos)
                                    {

                                        <span class="border border-white" style="margin-right: 10px;margin-bottom: 10px;">
                                            <p class="text-justify text-white" style="margin-bottom:0; margin-left:5px; margin-right:5px"> @item.NomeGenero</p>
                                        </span>
                                    }
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <p class="text-white font-weight-bold">Serviços de Streaming: </p>
                                </div>
                                <div class="row">
                                    @foreach (var item in Servicos)
                                    {

                                        <span class="border border-white" style="margin-right: 10px;margin-bottom: 10px;">
                                            <p class="text-justify text-white" style="margin-bottom:0; margin-left:5px; margin-right:5px"> @item.NomeServicoStreaming</p>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-white">Sinopse</h2>
                            <p class="text-justify text-white">@Model.Sinopse</p>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            @if (User.Identity.IsAuthenticated == true)
                            {
                                using (Html.BeginForm("SalvarFavorito", "Explorar", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="IdSerie" value="@Model.SerieID" />
                                    <button type="submit" class="btn btn-default BtnFavorito" data-toggle="tooltip" data-placement="bottom" title="Adicionar aos Favoritos"><img src="~/Content/SVG/favorito.svg" /> Favoritar</button>
                                }
                            }
                            else
                            {
                                <button class="btn btn-default BtnFavorito" data-toggle="tooltip" data-placement="bottom" title="Faça o login e adicione a sua lista de Favoritos">
                                    <img src="~/Content/SVG/favorito.svg" /> Favoritar
                                </button>
                            }
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-default BtnStar" data-toggle="tooltip" data-placement="bottom" title="Nota total da Série e quantidade de avaliaçoes">
                                <img src="~/Content/SVG/star.svg" />
                                8 | 200
                                <img src="~/Content/SVG/user.svg" />
                            </button>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5" style="margin:auto;">
                                    <p class="text-white font-weight-bold" style="margin-bottom:0;">Sua Avaliação:</p>
                                </div>
                                <div class="col-7" style="margin-top:10px;">
                                    <label class="range">
                                        <input class="range-input"
                                               type="range"
                                               min="0"
                                               max="10"
                                               step="1"
                                               value="0">
                                        <span class="range-box">
                                            <span class="range-counter" id="counter"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    @if (ViewBag.listaTemporada != null)
    {
        <div class="col-12" style="margin-top:40px; margin-bottom:60px;">
            <div class="row justify-content-between ">
                <div class="col-md-4">
                    <h4>Temporadas</h4>
                </div>
                <div class="col-2">
                    <div class="col-sm-12 float-right" style="padding-right:0; margin-bottom:10px;">

                        <select class="form-control" id="Temporada" name="ListTemporadas">
                            @foreach (var item in Temporadas)
                            {
                                <option value="@item.TemporadaID"> @item.NomeTemporada </option>
                            }
                        </select>
                    </div>
                </div>
            </div>



            <table id="Tabela-Episodio" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nª</th>
                        <th class="col">Episódio</th>
                        <th class="col">Data</th>
                    </tr>
                </thead>
                <tbody id="dadosTabela-Episodio">
                    <!-- CARREGA VIA AJAX -->
                </tbody>
            </table>
        </div>
    }


    @if (TrailerCompartilhar != null)
    {
        <div id="trailer" class="col-md-12" style="margin-bottom:60px;">
            <h4 class="col-md-4"> Trailer </h4>
            <div class="embed-responsive embed-responsive-16by9 col-12">
                <iframe width="560" height="315" src="https://youtube.com/embed/@TrailerCompartilhar" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    }



    <div class="row divIndividualSerie" style="margin-bottom:60px;">
        <div class="col-md-12">
            <h4 class="col-md-4">Indicações</h4>

            <div class="row">

                @foreach (var item in Indicacoes)
                {

                    <div class="col-2">
                        <img class="card-img" src="@item.Imagem" alt="Card image cap" style="height:150px; width:100px;">

                    </div>
                    <div class="col-2">
                        <h5 class="card-title">@item.NomeSerie</h5>
                        <p class="card-text">@item.Nota</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="coments" style="margin-bottom:60px;">
        <h4 class="col-md-4">Comentarios</h4>
        <div class="fb-comments" data-href="@Request.Url.ToString()" data-numposts="5"></div>
    </div>


</div>






@section Scripts {
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        var count = 0;
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        

        window.addEventListener('resize', triggerAll);
        document.addEventListener('input', (evt) => RangeInput(
            evt.target
        ));

        triggerAll();

        function triggerAll() {
            document
                .querySelectorAll('.range-input')
                .forEach(RangeInput);
        }

       

        function RangeInput(input) {
            if (input.type !== 'range') {
                return;
            }
            debugger
            count = input.value;           

            const range = (input.max - input.min) / 100;
            const thumbSize = 20;
            const inputHalfWidth = input.clientWidth - thumbSize;
            const balloonPosition = (parseFloat(input.value) * (inputHalfWidth / 10)) - (thumbSize / 2);
            const balloon = input.nextElementSibling;

            balloon.style.left = `${balloonPosition}px`;
            balloon.firstElementChild.textContent = input.value;

            input.style.setProperty('--value', (input.value - input.min) / range);
        }




        $(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        $(document).ready(function () {

           var TemporadaID = $('#Temporada').val();
            var SerieID = @Model.SerieID;

            $.ajax({
                type: "POST",
                async: false,
                url: "/Explorar/ExiberEpisodio",
                data: { TemporadaID: TemporadaID, SerieID: SerieID },
                dataType: "json",
                cache: false,
                success: function (result) {
                    if (result.listaEpisodio != null) {
                        var resultado = "";
                        var count = 1;
                        $.each(result.listaEpisodio, function (idx, elem) {
                            resultado += "<tr>";
                            resultado += "<td>" + count++ + "</td>"
                            resultado += "<td>" + elem.NomeEpisodio + "</td>"
                            resultado += "<td>" + elem.DataEpisodio + "</td>";
                            resultado += "</tr>";
                        });
                        $("#dadosTabela-Episodio").html(resultado);
                    }
                }
            });
        });

        $("#Temporada").change(function () {

            var TemporadaID = $('#Temporada').val();
            var SerieID = @Model.SerieID;

            $.ajax({
                type: "POST",
                async: false,
                url: "/Explorar/ExiberEpisodio",
                data: { TemporadaID: TemporadaID, SerieID: SerieID },
                dataType: "json",
                cache: false,
                success: function (result) {
                    if (result.listaEpisodio != null) {
                        var resultado = "";
                        var count = 1;
                        $.each(result.listaEpisodio, function (idx, elem) {
                            resultado += "<tr>";
                            resultado += "<td>" + count++ + "</td>"
                            resultado += "<td>" + elem.NomeEpisodio + "</td>"
                            resultado += "<td>" + elem.DataEpisodio + "</td>";
                            resultado += "</tr>";
                        });
                        $("#dadosTabela-Episodio").html(resultado);
                    }
                }
            });
        });

    </script>

}
