@model  SerieWeb.Models.SerieViewModels.DetalhesSerieViewModel
@{
    ViewBag.Title = "DetalhesSerieFavorito";
}
@foreach (var item in Model.serie)
{
    <div class="container-fluid DetalhesSerie">
        <div class="containerDetalhesSerie container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 containerImagemdetalhes">
                    <img src="@item.Imagem" class="img-seriedetalhes img-responsive rounded mx-auto d-block" alt="Responsive image">
                </div>
                <div class="col-8 containerInfoDetalhes">
                    <h1 class="text-white">@item.NomeSerie</h1>
                    <br />
                    <br />
                    <div class="row btnDetalhes">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary">2</button>
                        </div>
                        <div class="col-3">
                            @if (User.Identity.IsAuthenticated == true)
                            {
                                using (Html.BeginForm("SalvarFavorito", "Explorar", FormMethod.Post, new { ReturnUrl = "/Explorar/DetalhesSerieFavorito/" + item.SerieID + "" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="IdSerie" value="@item.SerieID" />
                                    <button type="submit" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Adicionar aos Favoritos"><i class="fa fa-telegram" aria-hidden="true"></i></button>
                                }
                            }
                            else
                            {
                                <button class="btn btn-default BtnFavorito" data-toggle="tooltip" data-placement="bottom" title="Faça o login e adicione a sua lista de Favoritos"><img src="~/Content/SVG/favorito.svg" /></button>


                            }
                        </div>
                        <div class="col-3">
                            @if (User.Identity.IsAuthenticated == true)
                            {
                                using (Html.BeginForm("InteresseSerie", "Explorar", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="IdSerie" value="@item.SerieID" />
                                    <button type="submit" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Adicionar a lista de interesse">ttt</button>
                                }
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Faça o login para adicionar a sua lista de interesse">ttt</button>
                            }
                        </div>
                        <div class="col-3">
                            <a href="#trailer" class="btn btn-secondary">assistir trailer</a>
                        </div>
                    </div>
                    <div>
                        <h2 class="text-white">Sinopse</h2>
                        <p class="text-justify text-white">@item.Sinopse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    <div class="container">
        <div id="temporada">
            <hr />
            <h3>Temporadas</h3>
            <hr />
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1 temporada
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2 temporada
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3 temporada
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="trailer">
            <hr />
            <h3>Trailer</h3>
            <hr />
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <hr />
                <h4 class="page-header">Indicações</h4>
                <hr />

                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="coments">
            <hr />
            <h4>Comentarios</h4>
            <hr />
            <div class="fb-comments table-responsive" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
        </div>

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

}