<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Serieweb">
    <meta name="author" content="engeziellithon">
    <title>@ViewBag.Title - SerieWeb</title>
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("SerieWeb", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Explorar", "Index", "Explorar", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("Serie", "Index", "Serie", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Temporada", "Index", "Temporada", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Episodio", "Index", "Episodio", new { area = "" }, new { @class = "dropdown-item" })

                    </div>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Perfil", "Index", "Perfil", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <br />
    <main role="main">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/ServiceWorker")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
